.App {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.733);;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-collapse: collapse;
}

.App-header {
  background-color: rgba(0, 0, 0, 0.5);;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
